﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Links</title>
</head>
<body>
    <div>
        @*To create Links*@
        @*Simplest method - hard coded urls - if routing system is changed, *@
        @*<a href="/Home/Index">Go home</a>*@

        @Html.ActionLink("Please Click Here go to admin controller page", "Index", "Admin")
        
        @Html.ActionLink("Link With Parameter", "CustomeVariableWithParameter", "Home", new {id = "hello" }, new { id = "myAnchorId", @class = "myClass" })
        @Url.Action("Index", "Customer")

    </div>
</body>
</html>
