﻿@model LibraryManagement.Models.BorrowHistory
@{
    ViewBag.Title = "Borrow a book";
}
<h2>Borrow a @Model.Book.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @Html.HiddenFor(model => model.BookId) @Html.HiddenFor(model => model.BorrowDate) @Html.HiddenFor(model => model.ReturnDate)
        <div class="form-group">
            @Html.LabelFor(model => model.MemberId, "Member", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.DropDownList("MemberId", null, htmlAttributes: new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.MemberId, "", new { @class = "text-danger" })</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrow" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div>@Html.ActionLink("Back to Book List", "Index", "Books")</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}