﻿@model IEnumerable<LibraryManagement.Models.BorrowHistory>

@{
    ViewBag.Title = "Borrow Details";
}

    <h2>Borrow Details</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.BorrowHistoryId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.BorrowHistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BorrowHistoryId })
        </td>
    </tr>
}

</table>
