﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {

            //$("button").click(function () {
            //    $("#div1").load("/Home/Hello")
            //})

            //$("button").click(function () {
            //    $.get("/Home/Hello", function(data, status) {
            //        alert("Data: " + data + "\nStatus: " + status)
            //    });  
            //});


            //$("button").click(function () {
            //    $.post("/Home/PostMethodForAjax",
            //    {
            //        name: "Donald Duck",
            //        city: "Duckburg"
            //        },
            //        function (data, status) {
            //            alert("Data: " + data + "\nStatus: " + status);
            //            $("#div1").html(data);
            //        }
            //    )
            //})


            $("button").click(function (e) {
                var jsonObject = {
                    "name" : "Rami",
                    "roles": [{ "RoleName": "Admin", "Description": "Admin Role" },
                              { "RoleName": "User", "Description": "User Role" }]
                };

                $.ajax({
                    url: "@Url.Action("AddUser")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    error: function (response) {
                        alert(response.responseText);
                    },
                    success: function (response) {
                        alert(response);
                    }
                })

            })



        });

    </script>
    <title>Ajax</title>
</head>
<body>
    <div id="div1"><h2>Let Jquery AJAX change this text</h2></div>
    <button>get external content</button>
</body>
</html>
