﻿@using PersonMVC.Models
@model PersonMVC.Models.Person

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Registration</title>
</head>
<body>
	<div>
		@using (Html.BeginForm())
		{
			<p> Name: @Html.TextBoxFor(x => x.Name)</p>
			<p> UserName: @Html.TextBoxFor(x => x.UserName)</p>
			<p> Password: @Html.PasswordFor(x => x.Password)</p>
			<p> Address: @Html.TextBoxFor(x => x.Address)</p>

			<p> Age: @Html.TextBoxFor(x => x.Age)</p>
			<p> Gender:	@Html.DropDownListFor(m => m.Gender,new SelectList(Enum.GetValues(typeof(Gender))),	"Select Gender")
			</p>
			<input type="submit" value="Register" />
		}

	</div>
</body>
</html>
