﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome: @User.Identity.Name!</h1>
        
        <p class="lead">This library management system help libraries keep track of books and their check out, as well as member's subscriptions and profiles.</p>
        <p>Library management system also involve maintaining database for entering new book and recording books that have been borrowed with there respective due date</p>
        <p><a href="http://hank.ipd17.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

