﻿@model ModelAndBinding.Models.Appointment

@{
    ViewBag.Title = "MakeBooking";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>Booking an Appointment</h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>Your Name:@Html.TextBoxFor(m => m.ClientName)</p>
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Appointment Date:@Html.TextBoxFor(m => m.Date)</p>
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms & conditions </p>
    <input type="submit" value="Make Booking" />

}

