﻿@model PreRegisterationProject.Models.RegistrationInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css"/>
    <title>Registeration</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>Your FullName: @Html.TextBoxFor(x => x.FullName)</p>
            <p>Email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Phone: @Html.TextBoxFor(x => x.PhoneNumber)</p>
            <p>
                Send Notification Email?
                @Html.DropDownListFor(x => x.SendNotification, new[] {
                    new SelectListItem(){Text="Yes,Please",Value=bool.TrueString},
                    new SelectListItem(){Text ="No, Thank you!",Value=bool.FalseString}

                },"Choose an option")
            </p>
            <input type="submit" value="Register" />
        }
    </div>
</body>
</html>
