﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Header")
    <div>
        @RenderBody()
    </div>

    @*note: all sections in the view must have a render section in layout*@

    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
    }
    else
    {
        <h4>This is default footer</h4>
    }

    @*if footer has bee defined, render it, otherwise leave it*@
    @*@RenderSection("Footer", false)*@

</body>
</html>
