﻿@using CustomHelperMethods.Infrastructure

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*we can define our helper methods. it is not a must, since there are enough helper in mvc. However here is an example
        1. inline:which will be accessible only in the crrent view
        2. external. see custoehelpermethod.cs
        the folowing line in inline definition of a helper method:*@


    @helper ListArrayItems(string[] items)
    {
        <ul>
            @foreach (string str in items)
            {
                <li>@str</li>
            }
        </ul>
    }

    <div>
        Here is fruits:
        <br />
        @foreach (string str in (string[])ViewBag.fruits)
        {
            <b>@str</b>
            <br />
        }
    </div>
    <div>
        Here is cities:
        <br />
        @foreach (string str in (string[])ViewBag.cities)
        {
            <b>@str</b>
            <br />
        }

    </div>

    @*inline helpe for fruits*@
    <div>
        Here is fruits:(using inline helper)
        <br />
        @ListArrayItems((string[])ViewBag.fruits)
    </div>

    @*inline helpe for cities*@
    <div>
        Here is cities:(using inline helper)
        <br />
        @ListArrayItems((string[])ViewBag.cities)

    </div>


    @*External helper for fruits*@
    <div>
        Here is fruits:(using external helper)
        <br />
        @Html.ListArrayItems((string[])ViewBag.fruits)
    </div>

    @*External helpe for cities*@
    <div>
        Here is cities:(using external helper)
        <br />
        @Html.ListArrayItems((string[])ViewBag.cities)

    </div>

</body>
</html>
