﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
        <span>This is the Header from the layout</span>
    }


    <div>
        @RenderBody()
    </div>

    @RenderSection("Footer")



</body>
</html>
