﻿@*the IEnumerable is used when we have a list of objects*@

@model IEnumerable<string> 
@{
    Layout = null;
}

@*how does ASP.net find the appropriate view?
1. it looks for a folder with the same namee as controller's name. in home it looks for an action with the same name, e.g. it looks for index.cshtml, then index.vbhtml, then is shared folder.
2. if you plan to change the above conventions, you need to create  a sub class of razor , don't for get to update the global.asax'*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        The list of fruit is :
        @foreach(string name in Model)
        {
            <span><b>@name</b></span>
        }
    </div>
</body>
</html>
