﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myAction2</title>
</head>
<body>
    <div> 
        @Html.Partial("MyPartialView")
        @Html.Partial("StronglyTypePartialView", new[] { "Apple","Orange","Banana"})
        @Html.Action("Time")
    </div>
</body>
</html>
