﻿
@{
    ViewBag.Title = "myAction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>myAction</h2>

@section Header{
<div class="view">
    @foreach (string str in new[] { "Home", "List", "Edit" })
    {
        @Html.ActionLink(str, str, null, new { style = "margin:5px" })
    }
</div>

}

<div>
    The list of fruits is:
    @foreach(string name in Model)
    {
        <span><b>@name</b></span>
    }
</div>

@*@Html.Partial("myPartialView")*@

@section Footer{
    <div class="view">
        this is footer
    </div>
    }
