﻿@model ModelAndBinding.Models.Person
@{
    ViewBag.Title = "Create Person";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<h2>Create Person</h2>
@using (Html.BeginForm("DisplaySummary", "Home"))
{

    @*@using (Html.BeginForm())
    {*@

        <div>
            @Html.LabelFor(m => m.PersonId)
            @Html.EditorFor(m => m.PersonId)
        </div>
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.EditorFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.EditorFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.Role)
            @Html.EnumDropDownListFor(m => m.Role)
        </div>

        <div>
            @Html.LabelFor(m => m.HomeAddress.City)
            @Html.EditorFor(m => m.HomeAddress.City)
        </div>


        <div>
            @Html.LabelFor(m => m.HomeAddress.Country)
            @Html.EditorFor(m => m.HomeAddress.Country)
        </div>


        <button type="submit">Submt</button>

    }



@*<form action="/Home/CreatePerson" method="post">
        <div class="dataElem">
            <label>PersonId</label>
            <input type="text" name="PersonId" value="@Model.PersonId" />
        </div>
        <div class="dataElem">
            <label>FirstName</label>
            <input name="FirstName" type="text" value="@Model.FirstName" />
        </div>
        <div class="dataElem">
            <label>LastName</label>
            <input type="text" name="LastName" value="@Model.LastName" />
        </div>
        <input type="submit" value="Submit" />
    </form>*@

