﻿@model ModelAndBinding.Models.AddressSummary

@{
    ViewBag.Title = "DisplaySummary";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>DisplaySummary</h2>
<div><label>City:</label>@Html.DisplayFor(m => m.City)</div>
<div><label>Country:</label>@Html.DisplayFor(m => m.Country)</div>


