﻿@using WebAPIExample.Model
@model IEnumerable<City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @*<script>
        var model = {
            cities: ko.observableArray(),
            editor: { name: ko.observable("")},
            displaySummary: ko.observable(true)
        };

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax("/api/web" + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: reqData
            });
        }

        function getAllItems() {
            sendAjaxRequest("GET", function (data) {
                model.cities.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.cities.push(data[i]);
                }
            });
        }

        function removeItem(item) {
            sendAjaxRequest("DELETE", function () {
                for (var i = 0; i < model.cities().length; i++) {
                    if (model.cities()[i].Id == item.Id) {
                        model.cities.remove(model.cities()[i]);
                        break;
                    }
                }
            }, item.Id);
        }

        function handleCreateClick() {
            model.displaySummary(false);
        }

        function handleEditorClick() {
            sendAjaxRequest("POST", function (newItem) {
                model.cities.push(newItem);
                model.displaySummary(true);
            }, null, {
                    Name: model.editor.name,
                   
                });
        }

        $(document).ready(function () {
            getAllItems();
            ko.applyBindings(model);
        });
    </script>*@
}

@section Body {
    <div id="summary" class="section panel panel-primary">
        @Html.Partial("Summary", Model)
    </div>
    <div id="editor" class="section panel panel-primary">
        @Html.Partial("Editor", new City())
    </div>


    @*<div id="summary" class="section panel panel-primary"  data-bind="if: model.displaySummary">
        <div class="panel-heading">City Summary</div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr><th>ID</th><th>Name</th><th></th></tr>
                </thead>
                <tbody data-bind="foreach: model.cities">
                    <tr>
                        <td data-bind="text: Id"></td>
                        <td data-bind="text: Name"></td>
                      
                        <td>
                            <button class="btn btn-xs btn-primary"
                                    data-bind="click: removeItem">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary"
                    data-bind="click: handleCreateClick">
                Create
            </button>
        </div>
    </div>
    <div id="editor" class="section panel panel-primary"
         data-bind="ifnot: model.displaySummary">
        <div class="panel-heading">
            Create City
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" data-bind="value: model.editor.name" />
            </div>
        
            <button class="btn btn-primary"
                    data-bind="click: handleEditorClick">
                Save
            </button>
        </div>
    </div>*@
}
