﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagExample</title>
</head>
<body>
    <div>
        the day is : @(((DateTime)ViewBag.Date).DayOfWeek)
    </div>
</body>
</html>
