﻿
@{
    ViewBag.Title = "MyAction";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>MyAction</h2>

<div>
    Welcome to our action view
</div>

@section Footer{
    <small>This is the footer from my action view.</small>
}