﻿@model WebAPIExample.Model.City

<div class="panel-heading">
    Create City
</div>
<div class="panel-body">
    @using (Html.BeginForm("Add", "Home")) {
        <div class="form-group">
            <label>City Name</label>
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control" })
        </div>
       
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>
