﻿@model IEnumerable<WebAPIExample.Model.City>

<div class="panel-heading">City Summary</div>
<div class="panel-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr><th>ID</th><th>Name</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                  
                    <td>
                        @Html.ActionLink("Remove", "Remove",
                                new { id = item.Id },
                                new { @class = "btn btn-xs btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
