﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>
        <p>Controller name: @ViewBag.Controller</p>
        <p>Action name: @ViewBag.Action</p>
        <p>CustomeVariable: @ViewBag.CustomeVariable</p>
    </div>
</body>
</html>
