﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My First MVC Application</title>
</head>
<body>
    <div>
        Hello World
        <br />
        the day is: @ViewBag.Date.DayOfWeek
        <p/>
        the message is : @ViewBag.Message
        <p/>
        @ViewBag.Greeting World(from the view)

    </div>
</body>
</html>
