﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecondView</title>
</head>
<body>
    <div style=" background-color: lightblue; text-align: center;">
        next random number is @ViewBag.Message
    </div>
</body>
</html>
