﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1>Welcome to ABC online booking system</h1>
        @Html.ActionLink("Click here to make Booking", "MakeBooking", "Booking", null, new { @class = "btn btn-primary btn-large" })
        <br /><br />
        @Html.ActionLink("Click here to download our price list(PDF)", "DownloadFile", "Home", null, new { @class = "btn btn-primary btn-large" })
        <br /><br />
        @Html.ActionLink("Click here to download our price list(JPEG)", "DownloadImage", "Home", null, new { @class = "btn btn-primary btn-large" })
    </div>
</body>
</html>
